body { background: #cff; }

.round { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.container { width: 710px; margin: 0 auto; }
.flash { padding: 5px 10px; border: 2px solid #ccc; color: #000; background: #eee; }
.success { background: #390; color: #fff; }
.error { background: #c30; color: #fff; }

header { padding: 20px 0 0 0; }
header img { padding: 10px; background: #fff; border: 0; }

section { margin: 10px 0; padding: 10px 20px; font-size: 20px; background: #fff; display: block; }
section h1 { font-size: 40px; }


/* Links */
a { color: #09c; text-decoration: none; }
a:hover { color: #069; text-decoration: underline; }
a:visited { color: #069; }


/* Navigation */
nav { float: right; background: #fff; padding: 10px; white-space: nowrap; }
nav ul { margin: 0; padding: 0; }
nav ul li { list-style-type: none; display: inline-block; padding: 3px 0; }
nav ul li a { padding: 0 5px; font-weight: bold; }
nav ul li a:hover { text-decoration: underline; }
nav ul li a:visited { color: #09c; }


/* Sign up button */
a.signup_button { margin: 0 auto; display: block; text-align: center; width: 190px; color: #fff; background: #060; font-size: 20px; font-weight: bold; padding: 20px; }

/* User index page */
ul.users { margin: 10px 0 0 0; }
ul.users li { list-style: none; }


/* User show page */
table.profile { width: 100%; margin: 0;  }
table.profile td.main { width: 40%; padding: 10px; }
table.profile td.main img.gravatar { border: 1px solid #999; margin: 0 0 -15px 0; }
table.profile td.sidebar { width: 30%; padding: 10px; vertical-align: top; background: #ffc; }
table.profile .microposts tr { height: 70px; }
table.profile .microposts tr td.micropost { border-top: 1px solid #ccc; vertical-align: top; padding:  10px 0 0 0;  }
table.profile .microposts tr td.micropost span.timestamp { display: block; font-size: 16px; color: #666; }



/* User new page */
div.field, div.actions { margin: 0 0 10px 0; }
.field_with_errors { margin: 10px 0 0 0; padding: 2px; background: #f00; display: table; }
.field_with_errors label { color: #fff; }
#error_explanation { width: 400px; border: 2px solid red; padding: 0; margin: 0 0 20px 0; background: #f0f0f0; }
#error_explanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; margin: 0; font-size: 12px; background: #c00; color: #fff; }
#error_explanation p { padding: 5px; color: #333; margin: 0; }
#error_explanation ul li { font-size: 12px; list-style: square; }


/* Footer */
footer { text-align: center; margin: 10px 0 0 0; width: 710px; margin: 0 auto; display: block; }
footer nav { float: none; display: block; }